[Unit]
# http://www.fileformat.info/info/unicode/char/8336/index.htm
Description=Listens for other devices telling the socket that water is poured

[Socket]
Listen=33590
MaxConnections=1
Accept=True

[Install]
WantedBy=sockets.target

