[Unit]
# http://www.fileformat.info/info/unicode/char/8336/index.htm
Description=Listens for other devices telling the socket that water is poured

[Socket]
ListenDatagram=33590

[Install]
WantedBy=sockets.target

